.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
}

h2 {
    margin-top: 0;
}

.App-logo {
    height: 40vmin;
}

.App-header {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.react-cookie-banner {
    background-color: rgba(60, 60, 60, 0.8);
    min-height: 40px;
    vertical-align: middle;
    align-items: center;
    padding: 20px 11% 15px 8%;
}

.cookie-message {
    display: inline-block;
    vertical-align: middle;
}

.button-close {
    position: absolute;
    top: 35px;
    right: 1%;
    line-height: 24px;
    margin-top: -12px;
    margin-left: 100px;
    padding: 0 8px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 500;
    color: rgb(36, 36, 36);
    cursor: pointer;
}
